<div class="container border-form">
  <h1 class="align-center">New Ability</h1>

  <%= render 'form', ability: @ability %>
  
  <div class="align-right">
    <%= link_to 'Back', abilities_path, class:"btn btn-outline-primary"%>
  </div>
</div>
