<!-- ><p id="notice"><%= notice %></p>-->

<div class="container border-form">
  <h1 class="align-center">Everything went good with <%= @ability.name.capitalize %> ;)!</h1>
  <p>

  <div class="align-center">
    <%= link_to 'Edit', edit_ability_path(@ability), class: "btn btn-warning" %>
  </div>

  <div class="align-right">
    <%= link_to 'Back', abilities_path, class:"btn btn-outline-primary"%>
  </div>
  
  

</div>