<div class="container border-form">
    <h1 class="align-center">New Poketype</h1>

    <%= render 'form', poketype: @poketype %>

    <div class="align-right">
        <%= link_to 'Back', poketypes_path, class:"btn btn-outline-primary" %>
    </div>
</div>
