<div class="container border-form">
  <h1>Editing Pokemon</h1>

  <%= render 'form', pokemon: @pokemon %>
  <br><br>

  <div class="align-right">
    <%= link_to 'Back', pokemons_path, class:"btn btn-outline-primary" %>
    <%= link_to 'Show', @pokemon , class:"btn btn-primary" %>
  </div>
    
</div>