<div class="container border-form">
  <h1 class="align-center">New Pokemon</h1>

  <%= render 'form', pokemon: @pokemon %>

  <div class="align-right">
    <%= link_to 'Back', pokemons_path, class:"btn btn-outline-primary" %>
  </div>
</div>